{% extends 'base.html' %}
{% load static %}
    {% block body_block %}
    <div class="top-shadow"></div>

    <div class="inner-page">
    <div class="slider-item" style="background-image: url('https://images.pexels.com/photos/459688/pexels-photo-459688.jpeg?cs=srgb&dl=alphabet-arts-and-crafts-blog-459688.jpg&fm=jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
              <h1 class="pt-5"><span style="font-family: Arial, Helvetica, sans-serif; font-size: 120%;">Blog Posts</span></h1>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END slider -->
    </div>

    <section class="section blog">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class=" heading mb-4">Our Latest Blog Posts</h2>
            <p class="mb-5 lead">Everyone who has the passion for programming and wants to crack the coding interview of the top product-based companies should join us. The problem-solving process transforms you into an analytical thinker.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://images.pexels.com/photos/289927/pexels-photo-289927.jpeg?cs=srgb&dl=blur-close-up-coding-289927.jpg&fm=jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Nov 26th, 2017</span>
                <h3 class="mt-2 text-black"><a href="#">Tutorials for C Programming, Data Structures, Java.</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://images.pexels.com/photos/257881/pexels-photo-257881.jpeg?cs=srgb&dl=computer-keyboard-contemporary-electronics-257881.jpg&fm=jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Jan 8th, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">Scott Hanselman on Programming and user Experience.</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>


          </div>
          <div class="col-md-6">
            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://images.pexels.com/photos/34578/pexels-photo.jpg?cs=srgb&dl=blogging-coding-copywriting-34578.jpg&fm=jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Mar 29th, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">How will the course help me in Interviews?</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://images.pexels.com/photos/2237797/pexels-photo-2237797.jpeg?cs=srgb&dl=computer-device-electronics-2237797.jpg&fm=jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Oct 2nd, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">Best Practices from Writing Awesome Java and SQL Code.</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>

          </div>



          <div class="col-md-6">

            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvBPydwH60BCzjVGR5ou4dEkd4XcwEBtVNJE_LzBHs7SIZFv031Q" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Feb 26th, 2019</span>
                <h3 class="mt-2 text-black"><a href="#">A reddit for discussion and programming news.</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>

            
          </div>
          <div class="col-md-6">
            <div class="media mb-4 d-md-flex d-block element-animate">
              <a href="#" class="mr-5"><img src="https://images.pexels.com/photos/340152/pexels-photo-340152.jpeg?cs=srgb&dl=adult-code-coder-340152.jpg&fm=jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
              <div class="media-body">
                <span class="post-meta">Jul 20th, 2018</span>
                <h3 class="mt-2 text-black"><a href="#">Advice for programmers.</a></h3>
                <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
              </div>
            </div>


          </div>

        </div>
      </div>
    </section>


    <footer class="site-footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About Us</h3>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span >34 Street Name, City Name Here, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span >+1 242 4942 290</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span >info@yourdomain.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="{% url 'minor_project:about'%}">About</a></li>
              <li><a href="{% url 'minor_project:feature'%}">Features</a></li>
              <li><a href="{% url 'minor_project:contact'%}">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    
    {% endblock %}