<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/login_signup.css' %}"/>
  <title>login</title>
</head>
<body>
	
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{% url 'minor_project:register' %}" method="POST">
			<h1>Create Account</h1>
			{% csrf_token %}
			<input type="text" name="username" placeholder="Username" />
			<input type="text" name="first_name" placeholder="First_name" />
			<input type="text" name="last_name" placeholder="Last_name" />
			<input type="email" name="email" placeholder="Email" />
			<input type="password" name="password" placeholder="Password" />
			<input type="password" name="confirm_password" placeholder="confirm Password" />
			<a href="signup.html"><button>Sign Up</button></a>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{% url 'minor_project:user_login' %}" method="POST">
			<h1>Sign in</h1>
			{% csrf_token %}
			<input type="text" name="username" placeholder="Enter Username" />
			<input type="password" name="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<input type="hidden" name="Login"><button>Sign In</button></input>
			
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details here</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
{% if request.get_full_path != "/login/" %}
<script type="text/javascript">
	var container = document.getElementById('container');
	container.classList.add("right-panel-active");


</script>
{% else %}
	<script type="text/javascript">
	var container = document.getElementById('container');
	container.classList.remove("right-panel-active");
	</script>
{% endif %}
<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');


signUpButton.addEventListener('click', () => {
	location.href = '/register';
	container.classList.add("right-panel-active");

});

signInButton.addEventListener('click', () => {
	location.href = '/login';
	container.classList.remove("right-panel-active");
});

</script>

</body>
</html>