    <!-- END header -->
{% extends 'base.html' %}
{% load static %}
    {% block body_block %}

    <div class="top-shadow"></div>

    <div class="inner-page">
    <div class="slider-item" style="background-image: url('https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?cs=srgb&dl=analysis-analytics-business-plan-590016.jpg&fm=jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
              <h1 class="pt-5"><span>FEATURES</span></h1>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END slider -->
    </div>
    
    <section class="section">
      <div class="container">
        <div class="row">
        </div>
        <div class="row justify-content-center">
         
        </div>
        <div class="row justify-content-center">
          <div class="col-md-8 mb-5">
            <h2>&ldquo; There is a difference between working hard and working smart, and it makes all the difference in the long run. Here, at Smart Interviews, we provide you with the perfect blend of both hard and smart work to let you become a top-notch coder.&rdquo;</h2>
          </div>
        </div>

        <object _ngcontent-c8="" class="whatsInIt-svg" data="../../assets/images/whatsInIt.svg" type="image/svg+xml"></object>
<svg xmlns="http://www.w3.org/2000/svg" id="Whatsinit" width="80vw" height="40vw" viewBox="0 0 1900 400">
    <defs>
        <style>
            .cls-1 {
                fill: #008a9a;
            }

            .cls-1, .cls-2, .cls-3, .cls-4 {
                fill-rule: evenodd;
            }
            
            .cls-2 {
                fill: #003b72;
            }

            .cls-3 {
                fill: #2b0072;
            }

            .cls-4 {
                fill: #00002c;
            }

            .cls-5 {
                font-size: 25px;
            }

            .cls-5, .cls-6 {
                fill: #fff;
                text-anchor: middle;
                font-family: "Myriad Pro";
            }

            .cls-6 {
                font-size: 58.333px;
            }
        </style>
    </defs>
    <g id="Background">
        <path id="_4" data-name="4" class="cls-1" d="M1287-58h472s123,316.526,123,318L1759,577H1287V-58Z"/>
        <path id="_3" data-name="3" class="cls-2" d="M854-57h472s123,316.526,123,318L1326,578H854V-57Z"/>
        <path id="_2" data-name="2" class="cls-3" d="M424-58H896s123,316.526,123,318L896,577H424V-58Z"/>
        <path id="_1" data-name="1" class="cls-4" d="M-11-58H444S567,258.526,567,260L444,577H-11S118,260,118,262C118,260-11-58-11-58Z"/>
    </g>
    <g id="description">
        <g id="Text-1">
            <text id="real-world_problem-solving." data-name="real-world problem-solving." class="cls-5" x="325.578" y="338.179"><tspan x="325.578">real-world problem-solving.</tspan></text>
            <text id="a_guided_approach_on" data-name="a guided approach on" class="cls-5" x="326.147" y="307.852"><tspan x="326.147">a guided approach on</tspan></text>
            <text id="and_logical_thinking_through" data-name="and logical thinking through" class="cls-5" x="326.09" y="278.085"><tspan x="326.09">and logical thinking through</tspan></text>
            <text id="Hone_your_analytical_skills_" data-name="Hone your analytical skills " class="cls-5" x="326.019" y="247.89"><tspan x="326.019">Hone your analytical skills </tspan></text>
        </g>
        <g id="Text-1_copy" data-name="Text-1 copy">
            <text id="competitive_programming." data-name="competitive programming." class="cls-5" x="758.013" y="338.89"><tspan x="758.013">competitive programming.</tspan></text>
            <text id="Kick-start_into_the_world_of" data-name="Kick-start into the world of" class="cls-5" x="757.58" y="309.178"><tspan x="757.58">kick-start into the world of</tspan></text>
            <text id="of_Data_Structures_Algorithms." data-name="of Data Structures &amp; Algorithms." class="cls-5" x="758.147" y="278.853"><tspan x="758.147">of Data Structures &amp; Algorithms.</tspan></text>
            <text id="code_get_a_deep_understanding" data-name="code, get a deep understanding" class="cls-5" x="758.09" y="249.085"><tspan x="758.09">code, get a deep understanding</tspan></text>
            <text id="Learn_how_to_write_efficient" data-name="Learn how to write efficient" class="cls-5" x="758.019" y="218.89"><tspan x="758.019">Learn how to write efficient</tspan></text>
        </g>
        <g id="Text-1_copy_2" data-name="Text-1 copy 2">
            <text id="_product-based_companies." data-name=" product-based companies." class="cls-5" x="1207.012" y="349.89"><tspan x="1207.012"> product-based companies.</tspan></text>
            <text id="_50_Tier-2_6-15_LPA_" data-name="50+ Tier-2 [6-15 LPA]" class="cls-5" x="1206.579" y="320.179"><tspan x="1206.579">50+ Tier-2 [6-15 LPA]</tspan></text>
            <text id="_20_Tier-1_15-25_LPA_and_" data-name="20+ Tier-1 [15-25 LPA] and " class="cls-5" x="1207.146" y="289.853"><tspan x="1207.146">20+ Tier-1 [15-25 LPA] and </tspan></text>
            <text id="_referrals_in_over" data-name=" referrals in over" class="cls-5" x="1207.09" y="260.085"><tspan x="1207.09"> referrals in over</tspan></text>
            <text id="We_offer_performance-based" data-name="We offer performance-based" class="cls-5" x="1207.018" y="229.89"><tspan x="1207.018">We offer performance-based</tspan></text>
        </g>
        <g id="Text-2">
            <text id="Continuous_support_on" data-name="Continuous support on" class="cls-5" x="1634.981" y="214.69"><tspan x="1634.981">Continuous support on</tspan></text>
            <text id="mentors_for_guidance." data-name="mentors for guidance." class="cls-5" x="1634.013" y="363.89"><tspan x="1634.013">mentors for guidance.</tspan></text>
            <text id="coders_and_our_well-qualified" data-name="coders and our well-qualified" class="cls-5" x="1633.58" y="334.179"><tspan x="1633.58">coders and our well-qualified</tspan></text>
            <text id="of_the_most_passionate" data-name="of the most passionate" class="cls-5" x="1634.146" y="303.853"><tspan x="1634.146">of the most passionate</tspan></text>
            <text id="These_groups_harbour_some" data-name="These groups harbour some" class="cls-5" x="1634.09" y="274.085"><tspan x="1634.09">These groups harbour some</tspan></text>
            <text id="WhatsApp_and_Facebook" data-name="WhatsApp and Facebook" class="cls-5" x="1634.018" y="243.89"><tspan x="1634.018">WhatsApp and Facebook.</tspan></text>
        </g>
    </g>
    <text id="Logical" class="cls-6" x="326.48" y="130.085"><tspan x="326.48">Logical</tspan></text>
    <text id="Coding" class="cls-6" x="758.48" y="130.085"><tspan x="758.48">Coding</tspan></text>
    <text id="Referrals" class="cls-6" x="1187.48" y="130.085"><tspan x="1187.48">Referrals</tspan></text>
    <text id="Community" class="cls-6" x="1618.48" y="130.085"><tspan x="1618.48">Community</tspan></text>
</svg>

      </div>
    </section>

    <footer class="site-footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 mb-5">
            <h3>About Us</h3>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 mb-5 pl-md-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span >34 Street Name, City Name Here, India</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span >+1 242 4942 290</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span >info@yourdomain.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="{% url 'minor_project:about' %}">About</a></li>
              <li><a href="{% url 'minor_project:feature' %}">Features</a></li>
              <li><a href="{% url 'minor_project:contact' %}">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
      </div>
    </footer>
    <!-- END footer -->

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

    {% endblock %}
    
